# Class 2, and 4

## Data types

What are different types of data?
1. string
2. interger
3. float
4. list
5. dictionary
6. set
7. tuple
8. bool

# Numbers and more in Python!

In this lecture, we will learn about numbers in Python and how to use them.

We'll learn about the following topics:

    1.) Types of Numbers in Python
    2.) Basic Arithmetic
    3.) Differences between classic division and floor division
    4.) Object Assignment in Python

## Types of numbers

Python has various "types" of numbers (numeric literals). We'll mainly focus on integers and floating point numbers.

Integers are just whole numbers, positive or negative. For example: 2 and -2 are examples of integers.

Floating point numbers in Python are notable because they have a decimal point in them, or use an exponential (e) to define the number. For example 2.0 and -2.1 are examples of floating point numbers. 4E2 (4 times 10 to the power of 2) is also an example of a floating point number in Python.

Throughout this course we will be mainly working with integers or simple float number types.

Here is a table of the two main types we will spend most of our time working with some examples:

<table>
<tr>
    <th>Examples</th> 
    <th>Number "Type"</th>
</tr>

<tr>
    <td>1,2,-5,1000</td>
    <td>Integers</td> 
</tr>

<tr>
    <td>1.2,-0.5,2e2,3E2</td> 
    <td>Floating-point numbers</td> 
</tr>
 </table>

 
 
Now let's start with some basic arithmetic.

### Basic Arithmetic

In [ ]:
# Addition
2+1

In [ ]:
# NoneType is akin to NA or Null

print(1+2)

In [ ]:
# Subtraction
2-1

In [ ]:
# Multiplication
2*2

In [ ]:
# Division
3/2

In [3]:
# Floor Division
7//4

1

**Whoa! What just happened? Last time I checked, 7 divided by 4 equals 1.75 not 1!**

The reason we get this result is because we are using "*floor*" division. The // operator (two forward slashes) truncates the decimal without rounding, and returns an integer result.

**So what if we just want the remainder after division?**

In [6]:
# Modulo
2344%2

0

4 goes into 7 once, with a remainder of 3. The % operator returns the remainder after division.

### Arithmetic continued

In [7]:
# Powers
2**3

8

In [8]:
# Can also do roots this way
4**0.5

2.0

In [9]:
# Order of Operations followed in Python   (BODMAS)
2 + 10 * 10 + 3

105

In [10]:
# Can use parentheses to specify orders
(2+10) * (10+3)

156

## Variable Assignments

Now that we've seen how to use numbers in Python as a calculator let's see how we can assign names and create variables.

We use a single equals sign to assign labels to variables. Let's see a few examples of how we can do this.

In [14]:
_2 = 2

In [15]:
_2

2

In [23]:
x

2

In [25]:
y*r

NameError: name 'r' is not defined

In [21]:
Age = 12

Age

12

In [28]:
del Age

In [30]:
del x
del y
del _2

In [32]:
# Let's create an object called "a" and assign it the number 5
a = 5

Now if I call *a* in my Python script, Python will treat it as the number 5.

In [34]:
# Adding the objects
a+a

10

What happens on reassignment? Will Python let us write it over?

In [35]:
# Reassignment
a = 10

In [40]:
# Check
a

10

Yes! Python allows you to write over assigned variable names. We can also use the variables themselves when doing the reassignment. Here is an example of what I mean:

In [41]:
# Check
a

10

In [42]:
# Use A to redefine A
a = a + a

In [43]:
# Check 
a

20

In [44]:
a = a+a+a

In [45]:
a

60

The names you use when creating these labels need to follow a few rules:

    1. Names can not start with a number.
    2. There can be no spaces in the name, use _ instead.
    3. Can't use any of these symbols :'",<>/?|\()!@#$%^&*~-+
    4. It's considered best practice (PEP8) that names are lowercase.
    5. Avoid using the characters 'l' (lowercase letter el), 'O' (uppercase letter oh), 
       or 'I' (uppercase letter eye) as single character variable names.
    6. Avoid using words that have special meaning in Python like "list" and "str"


Using variable names can be a very useful way to keep track of different variables in Python. For example:

In [46]:
x, y = 30, 50

In [47]:
operation = x*y

In [48]:
operation

1500

In [49]:
# Use object names to keep better track of what's going on in your code!
my_income = 100

tax_rate = 0.1

my_taxes = my_income*tax_rate

In [50]:
# Show my taxes!
my_taxes

10.0

In [52]:
result = 33/100

In [53]:
result

0.33

In [54]:
result = print(333/100)

3.33

In [55]:
result

In [56]:
name = 'Sanjula'

In [59]:
name

'Sanjula'

In [57]:
'Sanjula'

'Sanjula'

In [58]:
print('Sanjula')

Sanjula

In [60]:
First_name = name

In [61]:
First_name

'Sanjula'

In [62]:
First_name = print('Sanjula')

Sanjula

In [63]:
First_name

In [64]:
type(print('Sanjula'))

Sanjula

NoneType

So what have we learned? We learned some of the basics of numbers in Python. We also learned how to do arithmetic and use Python as a basic calculator. We then wrapped it up with learning about Variable Assignment in Python.

Up next we'll learn about Strings!

# Variable Assignment

## Rules for variable names
* names can not start with a number
* names can not contain spaces, use _ intead
* names can not contain any of these symbols:

      :'",<>/?|\!@#%^&*~-+
       
* it's considered best practice ([PEP8](https://www.python.org/dev/peps/pep-0008/#function-and-variable-names)) that names are lowercase with underscores
* avoid using Python built-in keywords like `list` and `str`
* avoid using the single characters `l` (lowercase letter el), `O` (uppercase letter oh) and `I` (uppercase letter eye) as they can be confused with `1` and `0`

## Dynamic Typing

Python uses *dynamic typing*, meaning you can reassign variables to different data types. This makes Python very flexible in assigning data types; it differs from other languages that are *statically typed*.

In [65]:
my_dogs = 2

In [66]:
my_dogs

2

In [67]:
my_dogs = ['Sammy', 'Frankie']

In [68]:
my_dogs

['Sammy', 'Frankie']

### Pros and Cons of Dynamic Typing
#### Pros of Dynamic Typing
* very easy to work with
* faster development time

#### Cons of Dynamic Typing
* may result in unexpected bugs!
* you need to be aware of `type()`

## Assigning Variables
Variable assignment follows `name = object`, where a single equals sign `=` is an *assignment operator*

In [69]:
a = 5

In [70]:
a

5

Here we assigned the integer object `5` to the variable name `a`.<br>Let's assign `a` to something else:

In [71]:
a = 10

In [72]:
a

10

You can now use `a` in place of the number `10`:

In [73]:
a + a

20

## Reassigning Variables
Python lets you reassign variables with a reference to the same object.

In [74]:
a = a + 10

In [122]:
a

60

There's actually a shortcut for this. Python lets you add, subtract, multiply and divide numbers with reassignment using `+=`, `-=`, `*=`, and `/=`.

In [123]:
a = 10

In [135]:
a = a + 10

In [136]:
a

120

In [112]:
a

60

In [93]:
a += 10

In [116]:
name = 'Sanjula'

In [117]:
name = name + ' Choudhary'

In [118]:
name

'Sanjula Choudhary'

In [119]:
name = 'Sanjula'

In [120]:
name += ' Chaoudhary'

In [121]:
name

'Sanjula Chaoudhary'

In [94]:
a

100

In [99]:
a *= 2

In [101]:
a

800

## Determining variable type with `type()`
You can check what type of object is assigned to a variable using Python's built-in `type()` function. Common data types include:
* **int** (for integer)
* **float**
* **str** (for string)
* **list**
* **tuple**
* **dict** (for dictionary)
* **set**
* **bool** (for Boolean True/False)

In [137]:
type(a)

int

In [138]:
a = (1,2)

In [139]:
type(a)

tuple

In [140]:
type(1.25)

float

In [141]:
type(['Sanjula', 'Kamal'])

list

In [142]:
type(True)

bool

In [143]:
type({1,2,2,3})

set

In [148]:
{8,8,5,67,2,3,4}

{2, 3, 4, 5, 8, 67}

In [147]:
{'S','a','n','j','u','l','a'}

{'S', 'a', 'j', 'l', 'n', 'u'}

## Simple Exercise
This shows how variables make calculations more readable and easier to follow.

In [149]:
my_income = 100
tax_rate = 0.1
my_taxes = my_income * tax_rate

In [150]:
my_taxes

10.0

Great! You should now understand the basics of variable assignment and reassignment in Python.<br>Up next, we'll learn about strings!

# Strings

Strings are used in Python to record text information, such as names. Strings in Python are actually a *sequence*, which basically means Python keeps track of every element in the string as a sequence. For example, Python understands the string "hello' to be a sequence of letters in a specific order. This means we will be able to use indexing to grab particular letters (like the first letter, or the last letter).

This idea of a sequence is an important one in Python and we will touch upon it later on in the future.

In this lecture we'll learn about the following:

    1.) Creating Strings
    2.) Printing Strings
    3.) String Indexing and Slicing
    4.) String Properties
    5.) String Methods
    6.) Print Formatting

## Creating a String
To create a string in Python you need to use either single quotes or double quotes. For example:

In [151]:
# Single word
'hello'

'hello'

In [152]:
type('hello')

str

In [153]:
# Entire phrase 
'This is also a string'

'This is also a string'

In [154]:
# We can also use double quote
"String built with double quotes"

'String built with double quotes'

In [157]:
# Be careful with quotes!
' I"m using single quotes, but this will create an error'

' I"m using single quotes, but this will create an error'

The reason for the error above is because the single quote in <code>I'm</code> stopped the string. You can use combinations of double and single quotes to get the complete statement.

In [158]:
"Now I'm ready to use the single quotes inside a string!"

"Now I'm ready to use the single quotes inside a string!"

Now let's learn about printing strings!

## Printing a String

Using Jupyter notebook with just a string in a cell will automatically output strings, but the correct way to display strings in your output is by using a print function.

In [159]:
# We can simply declare a string
'Hello World'

'Hello World'

In [160]:
# Note that we can't output multiple strings this way
'Hello World 1'
'Hello World 2'

'Hello World 2'

We can use a print statement to print a string.

In [161]:
print('Hello World 1')
print('Hello World 2')
print('Use \n to print a new line')
print('\n')
print('See what I mean?')

Hello World 1
Hello World 2
Use
 to print a new line


See what I mean?

## String Basics

We can also use a function called len() to check the length of a string!

In [162]:
len('Hello World')

11

Python's built-in len() function counts all of the characters in the string, including spaces and punctuation.

## String Indexing
We know strings are a sequence, which means Python can use indexes to call parts of the sequence. Let's learn how this works.

In Python, we use brackets <code>[]</code> after an object to call its index. We should also note that indexing starts at 0 for Python. Let's create a new object called <code>s</code> and then walk through a few examples of indexing.

In [163]:
# Assign s as a string
s = 'Hello World'

In [164]:
#Check
s

'Hello World'

In [165]:
# Print the object
print(s)

Hello World

Let's start indexing!

In [166]:
String = 'Shreyash'

In [176]:
String[0::2]

'Srys'

In [177]:
string = 'Hello, you are attending a python session'

In [180]:
string[0:5]   #   string[starting_point: end_point-1 : steps/jumps]

'Hello'

In [183]:
string[11:14:2]

'ae'

In [185]:
print(string[11:14:2])

ae

In [186]:
# Show first element (in this case a letter)
s[0]

'H'

In [187]:
s[1]

'e'

In [188]:
s[2]

'l'

We can use a <code>:</code> to perform *slicing* which grabs everything up to a designated point. For example:

In [193]:
# Grab everything past the first term all the way to the length of s which is len(s)
s[1:]

'ello World'

In [190]:
# Note that there is no change to the original s
s

'Hello World'

In [191]:
# Grab everything UP TO the 3rd index
s[:3]

'Hel'

Note the above slicing. Here we're telling Python to grab everything from 0 up to 3. It doesn't include the 3rd index. You'll notice this a lot in Python, where statements and are usually in the context of "up to, but not including".

In [194]:
#Everything
s[:]

'Hello World'

We can also use negative indexing to go backwards.

In [195]:
# Last letter (one index behind 0 so it loops back around)
s[-1]

'd'

In [196]:
# Grab everything but the last letter
s[:-1]

'Hello Worl'

We can also use index and slice notation to grab elements of a sequence by a specified step size (the default is 1). For instance we can use two colons in a row and then a number specifying the frequency to grab elements. For example:

In [197]:
# Grab everything, but go in steps size of 1
s[::1]

'Hello World'

In [198]:
# Grab everything, but go in step sizes of 2
s[::2]

'HloWrd'

In [200]:
# We can use this to print a string backwards
s[::-2]

'drWolH'

## String Properties
It's important to note that strings have an important property known as *immutability*. This means that once a string is created, the elements within it can not be changed or replaced. For example:

In [202]:
name = 'Manjula'

In [203]:
name[0]

'M'

In [204]:
name[0] = 'S'

TypeError: 'str' object does not support item assignment

In [205]:
name = 'Sanjula'

In [206]:
name

'Sanjula'

In [207]:
s

'Hello World'

In [208]:
# Let's try to change the first letter to 'x'
s[0] = 'x'

TypeError: 'str' object does not support item assignment

Notice how the error tells us directly what we can't do, change the item assignment!

Something we *can* do is concatenate strings!

In [209]:
s

'Hello World'

In [210]:
# Concatenate strings!
s + ' concatenate me!'

'Hello World concatenate me!'

In [211]:
y = s + ' concatenate me!'

In [212]:
y - ' concatenate me!'

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [213]:
# We can reassign s completely though!
s = s + ' concatenate me!'

In [214]:
print(s)

Hello World concatenate me!

In [215]:
s

'Hello World concatenate me!'

We can use the multiplication symbol to create repetition!

In [216]:
letter = 'z'

In [218]:
phrase = letter*10

In [219]:
phrase/10

TypeError: unsupported operand type(s) for /: 'str' and 'int'

## Basic Built-in String methods

Objects in Python usually have built-in methods. These methods are functions inside the object (we will learn about these in much more depth later) that can perform actions or commands on the object itself.

We call methods with a period and then the method name. Methods are in the form:

object.method(parameters)

Where parameters are extra arguments we can pass into the method. Don't worry if the details don't make 100% sense right now. Later on we will be creating our own objects and functions!

Here are some examples of built-in methods in strings:

In [7]:
s = 'Sanjula'

In [8]:
s[4]

'u'

In [2]:
# Upper Case a string
s.upper()

'SANJULA'

In [3]:
# Lower case
s.lower()

'sanjula'

##### to check how \n work in a string.

In [42]:
s = 'Hello this is class3.'

In [34]:
s

'Hello_this_is_class3.\na;lskjf;lkjaajsghdfkjasghdfkjhagskdjfgkajsdgfkjhasgdfkjghaskjdfgkajsdgfkjhagsdkjfgkasjdghfkjhagsdkjfgaksjdghfkajshgdfkjgaskjdgfkjashgdfkjgaskjdfgkajsdgfkjsadghfkjsadgfksjdafgkasjdgfkjsadhfgkasjd'

In [47]:
# Split a string by blank space (this is the default)
s.split()

['Hello', 'this', 'is', 'class3.']

In [48]:
for string in s.split():
    print(string)

Hello
this
is
class3.

In [53]:
s.upper()

'HELLO THIS IS CLASS3.'

In [52]:
s.upper().isupper()

True

In [61]:
number = 'AB123'

In [62]:
number.isalnum()

True

In [ ]:
s.

In [63]:
# title case
s.capitalize()

'Hello this is class3.'

In [17]:
s.lower()

'hello_this_is_class3.'

In [20]:
s.lower().capitalize()

'Hello_this_is_class3.'

In [ ]:
s.split('i')

In [24]:
# Split by a specific element (doesn't include the element that was split on)
s.split('\n')

['Hello_this_is_class3.']

There are many more methods than the ones covered here. Visit the Advanced String section to find out more!

## Print Formatting

We can use the .format() method to add formatted objects to printed string statements. 

The easiest way to show this is through an example:

In [64]:
print('sumeet')

sumeet

In [65]:
'My name is sumeet. I am a {}'.format('Data Analyst')

'My name is sumeet. I am a Data Analyst'

In [66]:
'My name is sumeet. I am a {}. I have been working for {} years in MNCs. I started my career as an {}.'.format('Data Scientist','five','intern')

'My name is sumeet. I am a Data Scientist. I have been working for five years in MNCs. I started my career as an intern.'

In [68]:
print('My name is sumeet. I am a {}. I have been working for {} years in MNCs. I started my career as an {}.'.format('Data Scientist','five','intern'))

My name is sumeet. I am a Data Scientist. I have been working for five years in MNCs. I started my career as an intern.

In [ ]:
'Insert another string with curly brackets: {}'.format('The inserated string')

In [69]:
print('Insert another string with curly brackets: {}'.format('The inserated string'))

Insert another string with curly brackets: The inserated string

In [74]:
str_1 = 'Data Scientist'
str_2 = 'five'
str_3 = 'intern'

In [70]:
print(f'My name is sumeet. I am a {str_1}. I have been working for {str_2} years in MNCs. I started my career as an {str_3}.')

My name is sumeet. I am a Data Scientist. I have been working for five years in MNCs. I started my career as an intern.

In [75]:
str_2 = 'seven'

In [76]:
string = f'My name is sumeet. I am a {str_1}. I have been working for {str_2} years in MNCs. I started my career as an {str_3}.'

In [77]:
string

'My name is sumeet. I am a Data Scientist. I have been working for seven years in MNCs. I started my career as an intern.'

In [78]:
database = '12345'
table = '234'
query = f"""select * from {database}.{table}"""

In [79]:
query

'select * from 12345.234'

We will revisit this string formatting topic in later sections when we are building our projects!

# String Formatting

String formatting lets you inject items into a string rather than trying to chain items together using commas or string concatenation. As a quick comparison, consider:

    player = 'Thomas'
    points = 33
    
    'Last night, '+player+' scored '+str(points)+' points.'  # concatenation
    
    f'Last night, {player} scored {points} points.'          # string formatting


There are three ways to perform string formatting.
* The oldest method involves placeholders using the modulo `%` character.
* An improved technique uses the `.format()` string method.
* The newest method, introduced with Python 3.6, uses formatted string literals, called *f-strings*.

Since you will likely encounter all three versions in someone else's code, we describe each of them here.

## Formatting with placeholders
You can use <code>%s</code> to inject strings into your print statements. The modulo `%` is referred to as a "string formatting operator".

In [84]:
print("I'm going to inject %s here." %'something')

I'm going to inject something here.

You can pass multiple items by placing them inside a tuple after the `%` operator.

In [85]:
print("I'm going to inject %s text here, and %s text here." %('some','more'))

I'm going to inject some text here, and more text here.

You can also pass variable names:

In [86]:
x, y = 'some', 'more'
print("I'm going to inject %s text here, and %s text here."%(x,y))

I'm going to inject some text here, and more text here.

### Format conversion methods.
It should be noted that two methods <code>%s</code> and <code>%r</code> convert any python object to a string using two separate methods: `str()` and `repr()`. We will learn more about these functions later on in the course, but you should note that `%r` and `repr()` deliver the *string representation* of the object, including quotation marks and any escape characters.

In [87]:
print('He said his name was %s.' %'Fred')
print('He said his name was %r.' %'Fred')

He said his name was Fred.
He said his name was 'Fred'.

As another example, `\t` inserts a tab into a string.

In [95]:
'I once caught a fish this \nbig.'.split('\n')

['I once caught a fish this ', 'big.']

In [90]:
print('I once caught a fish %s.' %'this \tbig')
print('I once caught a fish %r.' %'this \tbig')

I once caught a fish this 	big.
I once caught a fish 'this \tbig'.

The `%s` operator converts whatever it sees into a string, including integers and floats. The `%d` operator converts numbers to integers first, without rounding. Note the difference below:

In [96]:
print('I wrote %s programs today.' %3.75)
print('I wrote %d programs today.' %3.75)

I wrote 3.75 programs today.
I wrote 3 programs today.

### Padding and Precision of Floating Point Numbers
Floating point numbers use the format <code>%5.2f</code>. Here, <code>5</code> would be the <b>minimum</b> number of characters the string should contain; these may be padded with whitespace if the entire number does not have this many digits. Next to this, <code>.2f</code> stands for how many numbers to show past the decimal point. Let's see some examples:

In [97]:
print('Floating point numbers: %5.2f' %(13.144))

Floating point numbers: 13.14

In [98]:
print('Floating point numbers: %1.0f' %(13.144))

Floating point numbers: 13

In [99]:
print('Floating point numbers: %1.5f' %(13.144))

Floating point numbers: 13.14400

In [100]:
print('Floating point numbers: %10.2f' %(13.144))

Floating point numbers:      13.14

In [101]:
print('Floating point numbers: %25.2f' %(13.144))

Floating point numbers:                     13.14

For more information on string formatting with placeholders visit https://docs.python.org/3/library/stdtypes.html#old-string-formatting

### Multiple Formatting
Nothing prohibits using more than one conversion tool in the same print statement:

In [102]:
print('First: %s, Second: %5.2f, Third: %r' %('hi!',3.1415,'bye!'))

First: hi!, Second:  3.14, Third: 'bye!'

## Formatting with the `.format()` method
A better way to format objects into your strings for print statements is with the string `.format()` method. The syntax is:

    'String here {} then also {}'.format('something1','something2')
    
For example:

In [ ]:
print('This is a string with an {}'.format('insert'))

### The .format() method has several advantages over the %s placeholder method:

#### 1. Inserted objects can be called by index position:

In [103]:
print('The {2} {1} {0}'.format('fox','brown','quick'))

The quick brown fox

#### 2. Inserted objects can be assigned keywords:

In [104]:
print('First Object: {a}, Second Object: {b}, Third Object: {c}'.format(a=1,b='Two',c=12.3))

First Object: 1, Second Object: Two, Third Object: 12.3

#### 3. Inserted objects can be reused, avoiding duplication:

In [106]:
print('A %s saved is a %s earned.' %('penny','penny'))
# vs.
print('A {p} saved is a {p} earned.'.format(p='penny'))

A penny saved is a penny earned.
A penny saved is a penny earned.

### Alignment, padding and precision with `.format()`
Within the curly braces you can assign field lengths, left/right alignments, rounding parameters and more

In [ ]:
print('{0:8} | {1:9}'.format('Fruit', 'Quantity'))
print('{0:8} | {1:9}'.format('Apples', 3.))
print('{0:8} | {1:9}'.format('Oranges', 10))

By default, `.format()` aligns text to the left, numbers to the right. You can pass an optional `<`,`^`, or `>` to set a left, center or right alignment:

In [ ]:
print('{0:<8} | {1:^8} | {2:>8}'.format('Left','Center','Right'))
print('{0:<8} | {1:^8} | {2:>8}'.format(11,22,33))

You can precede the aligment operator with a padding character

In [ ]:
print('{0:=<8} | {1:-^8} | {2:.>8}'.format('Left','Center','Right'))
print('{0:=<8} | {1:-^8} | {2:.>8}'.format(11,22,33))

Field widths and float precision are handled in a way similar to placeholders. The following two print statements are equivalent:

In [ ]:
print('This is my ten-character, two-decimal number:%10.2f' %13.579)
print('This is my ten-character, two-decimal number:{0:10.2f}'.format(13.579))

Note that there are 5 spaces following the colon, and 5 characters taken up by 13.58, for a total of ten characters.

For more information on the string `.format()` method visit https://docs.python.org/3/library/string.html#formatstrings

## Formatted String Literals (f-strings)

Introduced in Python 3.6, f-strings offer several benefits over the older `.format()` string method described above. For one, you can bring outside variables immediately into to the string rather than pass them as arguments through `.format(var)`.

In [107]:
name = 'Fred'

print(f"He said his name is {name}.")

He said his name is Fred.

Pass `!r` to get the string representation:

In [109]:
print(f"He said his name is {name!r}")

He said his name is 'Fred'

#### Float formatting follows `"result: {value:{width}.{precision}}"`

Where with the `.format()` method you might see `{value:10.4f}`, with f-strings this can become `{value:{10}.{6}}`

In [110]:
num = 23.45678
print("My 10 character, four decimal number is:{0:10.4f}".format(num))
print(f"My 10 character, four decimal number is:{num:{10}.{6}}")

My 10 character, four decimal number is:   23.4568
My 10 character, four decimal number is:   23.4568

Note that with f-strings, *precision* refers to the total number of digits, not just those following the decimal. This fits more closely with scientific notation and statistical analysis. Unfortunately, f-strings do not pad to the right of the decimal, even if precision allows it:

In [111]:
num = 23.45
print("My 10 character, four decimal number is:{0:10.4f}".format(num))
print(f"My 10 character, four decimal number is:{num:{10}.{6}}")

My 10 character, four decimal number is:   23.4500
My 10 character, four decimal number is:     23.45

If this becomes important, you can always use `.format()` method syntax inside an f-string:

In [112]:
num = 23.45
print("My 10 character, four decimal number is:{0:10.4f}".format(num))
print(f"My 10 character, four decimal number is:{num:10.4f}")

My 10 character, four decimal number is:   23.4500
My 10 character, four decimal number is:   23.4500

For more info on formatted string literals visit https://docs.python.org/3/reference/lexical_analysis.html#f-strings

That is the basics of string formatting!

# Lists

Earlier when discussing strings we introduced the concept of a *sequence* in Python. Lists can be thought of the most general version of a *sequence* in Python. Unlike strings, they are mutable, meaning the elements inside a list can be changed!

In this section we will learn about:
    
    1.) Creating lists
    2.) Indexing and Slicing Lists
    3.) Basic List Methods
    4.) Nesting Lists
    5.) Introduction to List Comprehensions

Lists are constructed with brackets [] and commas separating every element in the list.

Let's go ahead and see how we can construct lists!

In [113]:
# Assign a list to an variable named my_list
my_list = [1,2,3]

In [114]:
type(my_list)

list

We just created a list of integers, but lists can actually hold different object types. For example:

In [115]:
my_list = ['A string',23,100.232,'o']

Just like strings, the len() function will tell you how many items are in the sequence of the list.

In [116]:
len(my_list)

4

In [117]:
len('Sanjula')

7

### Indexing and Slicing
Indexing and slicing work just like in strings. Let's make a new list to remind ourselves of how this works:

In [118]:
my_list = ['one','two','three',4,5]

In [119]:
# Grab element at index 0
my_list[0]

'one'

In [120]:
# Grab index 1 and everything past it
my_list[1:]

['two', 'three', 4, 5]

In [121]:
# Grab everything UP TO index 3
my_list[:3]

['one', 'two', 'three']

We can also use + to concatenate lists, just like we did for strings.

In [122]:
my_list + ['new item']

['one', 'two', 'three', 4, 5, 'new item']

In [133]:
my_list.append('Sanjula')

In [141]:
my_list

['one', 'two', 'three', 'Sanjula']

Note: This doesn't actually change the original list!

In [130]:
name = my_list.pop()

In [138]:
my_list.pop(3)

4

In [132]:
name

'Sanjula'

In [142]:
my_list.index('two')

1

#### Home Assignment
##### Try out all the methods available to list in python...

You would have to reassign the list to make the change permanent.

In [143]:
# Reassign
my_list = my_list + ['add new item permanently']

In [144]:
my_list

['one', 'two', 'three', 'Sanjula', 'add new item permanently']

We can also use the * for a duplication method similar to strings:

In [145]:
# Make the list double
my_list * 2

['one',
 'two',
 'three',
 'Sanjula',
 'add new item permanently',
 'one',
 'two',
 'three',
 'Sanjula',
 'add new item permanently']

In [146]:
# Again doubling not permanent
my_list

['one', 'two', 'three', 'Sanjula', 'add new item permanently']

## Basic List Methods

If you are familiar with another programming language, you might start to draw parallels between arrays in another language and lists in Python. Lists in Python however, tend to be more flexible than arrays in other languages for a two good reasons: they have no fixed size (meaning we don't have to specify how big a list will be), and they have no fixed type constraint (like we've seen above).

Let's go ahead and explore some more special methods for lists:

In [149]:
a, b = 1,2 
print(sum([a,b]))

3

In [ ]:
# Create a new list
list1 = [1,2,3]

Use the **append** method to permanently add an item to the end of a list:

In [ ]:
# Append
list1.append('append me!')

In [ ]:
# Show
list1

Use **pop** to "pop off" an item from the list. By default pop takes off the last index, but you can also specify which index to pop off. Let's see an example:

In [ ]:
# Pop off the 0 indexed item
list1.pop(0)

In [ ]:
# Show
list1

In [ ]:
# Assign the popped element, remember default popped index is -1
popped_item = list1.pop()

In [ ]:
popped_item

In [ ]:
# Show remaining list
list1

It should also be noted that lists indexing will return an error if there is no element at that index. For example:

In [ ]:
list1[100]

We can use the **sort** method and the **reverse** methods to also effect your lists:

In [ ]:
new_list = ['a','e','x','b','c']

In [ ]:
#Show
new_list

In [ ]:
# Use reverse to reverse order (this is permanent!)
new_list.reverse()

In [ ]:
new_list

In [ ]:
# Use sort to sort the list (in this case alphabetical order, but for numbers it will go ascending)
new_list.sort()

In [ ]:
new_list

## Nesting Lists
A great feature of of Python data structures is that they support *nesting*. This means we can have data structures within data structures. For example: A list inside a list.

Let's see how this works!

**has one assignment.**

In [1]:
# Let's make three lists
lst_1=[1,2,3]
lst_2=[4,5,6]
lst_3=[7,8,9]

# Make a list of lists to form a matrix
matrix = [lst_1,lst_2,lst_3]

In [2]:
# Show
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [3]:
matrix.insert(1, [23,43,56])

In [4]:
matrix

[[1, 2, 3], [23, 43, 56], [4, 5, 6], [7, 8, 9]]

In [5]:
matrix.insert(3,[1,2,3])

In [6]:
matrix

[[1, 2, 3], [23, 43, 56], [4, 5, 6], [1, 2, 3], [7, 8, 9]]

In [7]:
matrix.remove([1, 2, 3])

In [9]:
matrix

[[23, 43, 56], [4, 5, 6], [1, 2, 3], [7, 8, 9]]

In [10]:
matrix.pop(0)

[23, 43, 56]

In [11]:
matrix

[[4, 5, 6], [1, 2, 3], [7, 8, 9]]

We can again use indexing to grab elements, but now there are two levels for the index. The items in the matrix object, and then the items inside that list!

In [157]:
# get 3 out 

matrix[0][2]

3

In [154]:
# get 5 out 

matrix[1][1]

5

In [155]:
# get 7 out

matrix[2][0]

7

In [20]:
# difficult task
my_list = [1,2,3,[4,3,4,5,55,[6574,765,657,[1,2,3,4,5],[4,5,6,7,88],[7,4,[5,6,[8,9],0]]]]]

# get 657, 88, 0, [8,9] and 55 out.

In [159]:
# Grab first item in matrix object
matrix[0]

[1, 2, 3]

In [160]:
# Grab first item of the first item in the matrix object
matrix[0][0]

1

# Short (loops)

In [16]:
# for loop

for a in range(100,1, -5):
    print(a)

100
95
90
85
80
75
70
65
60
55
50
45
40
35
30
25
20
15
10
5

In [17]:
string = 'Sumeet'

for n in range(len(string)):
    print(string[n])

S
u
m
e
e
t

6

In [49]:
lists = ('Sumeet', 'Sanjula','Shreyash','Shantanu','Saloni', 'lenovo')

In [52]:
for names in lists:
    print(names)

Sumeet
Sanjula
Shreyash
Shantanu
Saloni
lenovo

In [34]:
for a in range(len(my_list[3][5][5][2])):
    print(my_list[3][5][5][2][a])

5
6
[8, 9]
0

In [35]:
my_list[3][5][5][2][2]

[8, 9]

In [45]:
my_list[3][5][5][2][2]

[8, 9]

In [46]:
for a,b in enumerate(my_list[3][5][5][2]):
    print((a,b))

(0, 5)
(1, 6)
(2, [8, 9])
(3, 0)

# List Comprehensions
Python has an advanced feature called list comprehensions. They allow for quick construction of lists. To fully understand list comprehensions we need to understand for loops. So don't worry if you don't completely understand this section, and feel free to just skip it since we will return to this topic later.

But in case you want to know now, here are a few examples!

In [53]:
lists = ('Sumeet', 'Sanjula','Shreyash','Shantanu','Saloni', 'lenovo')

In [58]:
for names in lists:
    names

In [59]:
# Build a list comprehension by deconstructing a for loop within a []
first_col = [names for names in lists]

In [60]:
first_col

['Sumeet', 'Sanjula', 'Shreyash', 'Shantanu', 'Saloni', 'lenovo']

In [61]:
objects = [objs for objs in matrix]

In [62]:
objects

[[4, 5, 6], [1, 2, 3], [7, 8, 9]]

In [70]:
# to list all the numbers divisible by 2 in the range of 0 and 50


# to list all the integers in the range of 0 and 50 

listing = [num for num in range(51) if num%3==0 ]

In [71]:
listing

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [72]:
objs = [objs for objs in matrix]

In [80]:
objs.insert(1, ('Sanjula','Saloni'))

In [81]:
objs

[[4, 5, 6], ('Sanjula', 'Saloni'), [1, 2, 3], [7, 8, 9]]

In [82]:
only_numbers_for_first_object = [num for num in objs[1]]

In [83]:
only_numbers_for_first_object

['Sanjula', 'Saloni']

In [79]:
for a in objs[0]:
    print(a)

4
5
6

We used a list comprehension here to grab the first element of every row in the matrix object. We will cover this in much more detail later on!

For more advanced methods and features of lists in Python, check out the Advanced Lists section later on in this course!

# Dictionaries

We've been learning about *sequences* in Python but now we're going to switch gears and learn about *mappings* in Python. If you're familiar with other languages you can think of these Dictionaries as hash tables. 

This section will serve as a brief introduction to dictionaries and consist of:

    1.) Constructing a Dictionary
    2.) Accessing objects from a dictionary
    3.) Nesting Dictionaries
    4.) Basic Dictionary Methods

So what are mappings? Mappings are a collection of objects that are stored by a *key*, unlike a sequence that stored objects by their relative position. This is an important distinction, since mappings won't retain order since they have objects defined by a key.

A Python dictionary consists of a key and then an associated value. That value can be almost any Python object.


## Constructing a Dictionary
Let's see how we can construct dictionaries to get a better understanding of how they work!

In [85]:
demo_dict = {'Gujarat':'Gandhi Nagar', 'J&k':'Srinagar'}

In [86]:
demo_dict.keys()

dict_keys(['Gujarat', 'J&k'])

In [87]:
demo_dict['Gujarat']

'Gandhi Nagar'

In [88]:
demo_dict['J&k']

'Srinagar'

In [92]:
key_values = list(demo_dict.items())

In [93]:
key_values

[('Gujarat', 'Gandhi Nagar'), ('J&k', 'Srinagar')]

In [94]:
demo_dict.values()

dict_values(['Gandhi Nagar', 'Srinagar'])

In [95]:
demo_dict['Bihar'] = 'Patna'

In [97]:
demo_dict

{'Gujarat': 'Gandhi Nagar', 'J&k': 'Srinagar', 'Bihar': 'Patna'}

In [ ]:
# Is it possible to delete a key_value object from a dictionary...

In [98]:
# Make a dictionary with {} and : to signify a key and a value
my_dict = {'key1':'value1','key2':'value2'}

In [99]:
# Call values by their key
my_dict['key2']

'value2'

Its important to note that dictionaries are very flexible in the data types they can hold. For example:

In [100]:
my_dict = {'key1':123,'key2':[12,23,33],'key3':['item0','item1','item2']}

In [102]:
# Let's call items from the dictionary
my_dict['key3']

['item0', 'item1', 'item2']

In [105]:
# Can call an index on that value
my_dict['key3'][0].upper()

'ITEM0'

In [106]:
# Can then even call methods on that value
my_dict['key3'][0].upper()

'ITEM0'

We can affect the values of a key as well. For instance:

In [111]:
my_dict['key1']

0

In [112]:
# Subtract 123 from the value
my_dict['key1'] = my_dict['key1'] - 123

In [113]:
#Check
my_dict['key1']

-123

A quick note, Python has a built-in method of doing a self subtraction or addition (or multiplication or division). We could have also used += or -= for the above statement. For example:

In [114]:
# Set the object equal to itself minus 123 
my_dict['key1'] -= 123
my_dict['key1']

-246

We can also create keys by assignment. For instance if we started off with an empty dictionary, we could continually add to it:

In [115]:
# Create a new dictionary placeholder
d = {}

In [116]:
# Create a new key through assignment
d['animal'] = 'Dog'

In [117]:
# Can do this with any object
d['answer'] = 42

In [118]:
#Show
d

{'animal': 'Dog', 'answer': 42}

## Nesting with Dictionaries

Hopefully you're starting to see how powerful Python is with its flexibility of nesting objects and calling methods on them. Let's see a dictionary nested inside a dictionary:

In [119]:
# Dictionary nested inside a dictionary nested inside a dictionary
d = {'key1':{'nestkey':{'subnestkey':'value'}}}

Wow! That's a quite the inception of dictionaries! Let's see how we can grab that value:

In [122]:
d['key1']['nestkey']['subnestkey']

'value'

In [123]:
# Keep calling the keys
d['key1']['nestkey']['subnestkey']

'value'

##### Home assignment

In [209]:
my_list[3]['name_of_boys']

['Shreyash', 'Shantanu', 'Abhishek', 'Shivank']

In [212]:
my_list = [1,2,3,{'name1':'Sanjul', 'name2':'Saloni','name_of_boys':['Shreyash','Shantanu','Abhishek','Shivank'],
                  'Sub':{'sub_dict':{'sub-sub-key':'sub-subvalue'}}}]

# get me out 
# 'sub-subvalue', 
# ['Shreyash','Shantanu','Abhishek','Shivank'] printed using for loop, 
# list of keys in all the dictionaries inside this list. 

print('Answer 1 is ',my_list[3]['Sub']['sub_dict']['sub-sub-key']) 
print('Answer 2 is ',my_list[3]['name_of_boys'])

Answer 1 is  sub-subvalue
Answer 2 is  ['Shreyash', 'Shantanu', 'Abhishek', 'Shivank']

In [205]:
for i,o in enumerate(my_list[3]['Sub']['sub_dict']):
    print(i,o)

0 sub-sub-key

## A few Dictionary Methods

There are a few methods we can call on a dictionary. Let's get a quick introduction to a few of them:

In [ ]:
# Create a typical dictionary
d = {'key1':1,'key2':2,'key3':3}

In [ ]:
# Method to return a list of all keys 
d.keys()

In [ ]:
# Method to grab all values
d.values()

In [ ]:
# Method to return tuples of all items  (we'll learn about tuples soon)
d.items()

Hopefully you now have a good basic understanding how to construct dictionaries. There's a lot more to go into here, but we will revisit dictionaries at later time. After this section all you need to know is how to create a dictionary and how to retrieve values from it.

# Tuples

In Python tuples are very similar to lists, however, unlike lists they are *immutable* meaning they can not be changed. You would use tuples to present things that shouldn't be changed, such as days of the week, or dates on a calendar. 

In this section, we will get a brief overview of the following:

    1.) Constructing Tuples
    2.) Basic Tuple Methods
    3.) Immutability
    4.) When to Use Tuples

You'll have an intuition of how to use tuples based on what you've learned about lists. We can treat them very similarly with the major distinction being that tuples are immutable.

## Constructing Tuples

The construction of a tuples use () with elements separated by commas. For example:

In [124]:
# Create a tuple
t = (1,2,3)

In [125]:
# Check len just like a list
len(t)

3

In [126]:
# Can also mix object types
t = ('one',2)

# Show
t

('one', 2)

In [127]:
# Use indexing just like we did in lists
t[0]

'one'

In [128]:
# Slicing just like a list
t[-1]

2

## Basic Tuple Methods

Tuples have built-in methods, but not as many as lists do. Let's look at two of them:

In [ ]:
# Use .index to enter a value and return the index
t.index('one')

In [ ]:
# Use .count to count the number of times a value appears
t.count('one')

## Immutability

It can't be stressed enough that tuples are immutable. To drive that point home:

In [129]:
l= [1,2,3,4]

In [130]:
l[0] = 33

In [131]:
l

[33, 2, 3, 4]

In [132]:
t.

('one', 2)

In [135]:
string = 'sumeet'

In [136]:
string

'sumeet'

In [134]:
string = 'Sumeet'

string[0] = 's'

TypeError: 'str' object does not support item assignment

In [133]:
t[0] = 1

TypeError: 'tuple' object does not support item assignment

In [137]:
t[0]= 'change'

TypeError: 'tuple' object does not support item assignment

Because of this immutability, tuples can't grow. Once a tuple is made we can not add to it.

In [138]:
t.append('nope')

AttributeError: 'tuple' object has no attribute 'append'

## When to use Tuples

You may be wondering, "Why bother using tuples when they have fewer available methods?" To be honest, tuples are not used as often as lists in programming, but are used when immutability is necessary. If in your program you are passing around an object and need to make sure it does not get changed, then a tuple becomes your solution. It provides a convenient source of data integrity.

You should now be able to create and use tuples in your programming as well as have an understanding of their immutability.

Up next Files!

# Set and Booleans

There are two other object types in Python that we should quickly cover: Sets and Booleans. 

## Sets

Sets are an unordered collection of *unique* elements. We can construct them by using the set() function. Let's go ahead and make a set to see how it works

In [140]:
s = {1,2,3,3,4,5,6,6,7,7,8,8,8,90}

In [141]:
s

{1, 2, 3, 4, 5, 6, 7, 8, 90}

In [142]:
x = set()

In [143]:
x

set()

In [148]:
# We add to sets with the add() method
x.add(2)

In [149]:
#Show
x

{1, 2}

Note the curly brackets. This does not indicate a dictionary! Although you can draw analogies as a set being a dictionary with only keys.

We know that a set has only unique entries. So what happens when we try to add something that is already in a set?

In [150]:
# Add a different element
x.add(2)

In [151]:
#Show
x

{1, 2}

In [152]:
# Try to add the same element
x.add(1)

In [153]:
#Show
x

{1, 2}

Notice how it won't place another 1 there. That's because a set is only concerned with unique elements! We can cast a list with multiple repeat elements to a set to get the unique elements. For example:

In [154]:
# Create a list with repeats
list1 = [1,1,2,2,3,4,5,6,1,1]

In [155]:
# Cast as set to get unique values
set(list1)

{1, 2, 3, 4, 5, 6}

## Booleans

Python  comes with Booleans (with predefined True and False displays that are basically just the integers 1 and 0). It also has a placeholder object called None. Let's walk through a few quick examples of Booleans (we will dive deeper into them later in this course).

In [156]:
# Set object to be a boolean
a = True

In [157]:
#Show
a

True

We can also use comparison operators to create booleans. We will go over all the comparison operators later on in the course.

###### logical operators in python
1. =
2. ==
3. !=
4. <
5. '>'
6. '>='
7. <=
8. &
9. not
10. in
11. is
12. |

In [158]:
# Output is boolean
1 > 2

False

We can use None as a placeholder for an object that we don't want to reassign yet:

In [159]:
# None placeholder
b = None

In [162]:
# Show
print(b)

None

Thats it! You should now have a basic understanding of Python objects and data structure types. Next, go ahead and do the assessment test!

# Files

Python uses file objects to interact with external files on your computer. These file objects can be any sort of file you have on your computer, whether it be an audio file, a text file, emails, Excel documents, etc. Note: You will probably need to install certain libraries or modules to interact with those various file types, but they are easily available. (We will cover downloading modules later on in the course).

Python has a built-in open function that allows us to open and play with basic file types. First we will need a file though. We're going to use some IPython magic to create a text file!

## IPython Writing a File 
#### This function is specific to jupyter notebooks! Alternatively, quickly create a simple .txt file with sublime text editor.

In [163]:
%%writefile test.txt
Hello, this is a quick test file.

Writing test.txt

## Python Opening a file

Let's being by opening the file test.txt that is located in the same directory as this notebook. For now we will work with files located in the same directory as the notebook or .py script you are using.

It is very easy to get an error on this step:

In [183]:
pwd

'C:\\Users\\Dell\\Python\\pyenv\\Github\\Python_org\\Class_files\\Untitled_Folder'

In [186]:
myfile = open(file = 'test.txt')

In [188]:
myfile.read()

''

In [190]:
myfile.seek(0)

0

In [191]:
myfile.read()

'Hello, this is a quick test file.\n'

In [174]:
import os

In [175]:
os.getcwd()

'C:\\Users\\Dell\\Python\\pyenv\\Github\\Python_org\\Class_files'

In [176]:
os.listdir()

['.ipynb_checkpoints',
 'Class 2,3 and 4.ipynb',
 'Untitled_Folder',
 'whoops.txt']

In [177]:
os.chdir('Untitled_Folder')

In [178]:
os.getcwd()

'C:\\Users\\Dell\\Python\\pyenv\\Github\\Python_org\\Class_files\\Untitled_Folder'

In [179]:
os.listdir()

['.ipynb_checkpoints', 'test.txt', 'whoops.txt']

In [166]:
myfile.read()

'Woof Woof!!'

In [168]:
myfile.seek(0)

0

In [170]:
myfile.readlines()

[]

To avoid this error,make sure your .txt file is saved in the same location as your notebook, to check your notebook location, use **pwd**:

In [171]:
pwd

'C:\\Users\\Dell\\Python\\pyenv\\Github\\Python_org\\Class_files'

**Alternatively, to grab files from any location on your computer, simply pass in the entire file path. **

For Windows you need to use double \ so python doesn't treat the second \ as an escape character, a file path is in the form:

    myfile = open("C:\\Users\\YourUserName\\Home\\Folder\\myfile.txt")

For MacOS and Linux you use slashes in the opposite direction:

    myfile = open("/Users/YouUserName/Folder/myfile.txt")

In [ ]:
# Open the text.txt we made earlier
my_file = open('test.txt')

In [ ]:
# We can now read the file
my_file.read()

In [ ]:
# But what happens if we try to read it again?
my_file.read()

This happens because you can imagine the reading "cursor" is at the end of the file after having read it. So there is nothing left to read. We can reset the "cursor" like this:

In [ ]:
# Seek to the start of file (index 0)
my_file.seek(0)

In [ ]:
# Now read again
my_file.read()

You can read a file line by line using the readlines method. Use caution with large files, since everything will be held in memory. We will learn how to iterate over large files later in the course.

In [ ]:
# Readlines returns a list of the lines in the file
my_file.seek(0)
my_file.readlines()

When you have finished using a file, it is always good practice to close it.

In [193]:
myfile.close()

## Writing to a File

By default, the `open()` function will only allow us to read the file. We need to pass the argument `'w'` to write over the file. For example:

In [ ]:
# Add a second argument to the function, 'w' which stands for write.
# Passing 'w+' lets us read and write to the file

my_file = open('test.txt','w+')

### <strong><font color='red'>Use caution!</font></strong> 
Opening a file with `'w'` or `'w+'` truncates the original, meaning that anything that was in the original file **is deleted**!

In [ ]:
# Write to the file
my_file.write('This is a new line')

In [ ]:
# Read the file
my_file.seek(0)
my_file.read()

In [ ]:
my_file.close()  # always do this when you're done with a file

## Appending to a File
Passing the argument `'a'` opens the file and puts the pointer at the end, so anything written is appended. Like `'w+'`, `'a+'` lets us read and write to a file. If the file does not exist, one will be created.

In [ ]:
my_file = open('test.txt','a+')
my_file.write('\nThis is text being appended to test.txt')
my_file.write('\nAnd another line here.')

In [ ]:
my_file.seek(0)
print(my_file.read())

In [ ]:
my_file.close()

### Appending with `%%writefile`
We can do the same thing using IPython cell magic:

In [ ]:
%%writefile -a test.txt

This is text being appended to test.txt
And another line here.

Add a blank space if you want the first line to begin on its own line, as Jupyter won't recognize escape sequences like `\n`

## Iterating through a File

Lets get a quick preview of a for loop by iterating over a text file. First let's make a new text file with some IPython Magic:

In [ ]:
%%writefile test.txt
First Line
Second Line

Now we can use a little bit of flow to tell the program to for through every line of the file and do something:

In [ ]:
for line in open('test.txt'):
    print(line)

Don't worry about fully understanding this yet, for loops are coming up soon. But we'll break down what we did above. We said that for every line in this text file, go ahead and print that line. It's important to note a few things here:

1. We could have called the "line" object anything (see example below).
2. By not calling `.read()` on the file, the whole text file was not stored in memory.
3. Notice the indent on the second line for print. This whitespace is required in Python.

In [ ]:
# Pertaining to the first point above
for asdf in open('test.txt'):
    print(asdf)

We'll learn a lot more about this later, but up next: Sets and Booleans!